recursive-include libsequence  *.pyx *.px[di] *.cpp
recursive-include m4 *.m4
include configure
include setup.py.in
include config.h.in
include Makefile.in
include conf.py.in
recursive-include check_deps *